*{
    margin: 0;
    padding: 0;
}
.header {
    min-height: 100vh;
    width: 100;
    background-image: linear-gradient(rgba(47, 187, 28, 0.234),rgba(0, 0, 0, 0.256)), url(images/finalCoverSmaller.jpeg);
    background-size: cover;
    position: relative;
}
.links {
    text-align: right;
    justify-content: space-between;
    align-items: center;
}
.links ul li{
    list-style: none;
    padding: 25px;
    display: inline-block;
    position: relative;
}
.links ul li a {
    color: white;
    text-decoration: none;
    font-family: serif;
    font-size: 15px;
    letter-spacing: 2px;
}
.links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(2, 252, 27);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.links ul li:hover::after {
    width: 100%;
}





.hero {
    text-align: left;
    padding-top: 100px;
    padding-left: 700px;
}
.hero h1 {
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 10;
}
.hero h2 {
    color: rgb(2, 252, 27);
    font-size: 75px;
    font-family: sans-serif;
}
.hero h3 {
    color:white;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 10;
}
.cool {
    min-height: 100vh;
    background: black;
}



/*linear-gradient(rgba(13, 45, 9, 0.7),rgba(9, 165, 243, 0.256))*/
